
@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;800&display=swap');

html, body {
	font-family: Lexend, sans-serif;
	font-size: 14px;
}
@media print {
	html, body {
		font-size: 12px;
	}
}
* {
	padding: 0;
	margin: 0;
	font-weight: inherit;
	font-family: inherit;
	box-sizing: border-box;
	font-size: inherit;
	position: relative;
}
b { font-weight: bold; }